@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  /* background-image: url("./assets/perro.jpg"); */

  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 100px;
  /* background-attachment: fixed; */
  background: rgb(2,0,36);
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(138,142,0,0.8155637254901961) 35%, rgba(0,212,255,1) 100%);
}

h1 {
  color: yellow;
  background-color: black;
  letter-spacing: 5px;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  font-size: 20px;
}

.text-small {
  font-size: 10px;
  color: gray;
}

.highlighted {
  background-color: yellow;
  font-weight: bold;
}

#paragraph-2 {
  margin-left: 30px;
  text-decoration: line-through;
}

#main-title {
  text-shadow: 10px 5px 20px;
  color: green;
}

div .subtitle {
  width: 150px;
  background-color: lightblue;
}

article {
  .subtitle {
    width: 200px;
    background-color: lightcoral;
  }
}

.subtitle.sports {
  width: 170px;
  background-color: lightsalmon;
}

.subtitle::first-letter {
  font-size: 40px;
}

input[type="text"] {
  height: 60px;
}

.interactive:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.interactive:active {
  background-color: lightblue;
}

.new-text {
  color: brown;
  background-color: lightyellow;
}

.new-text {
  color: orange;
  background-color: lightgray;
}

.box {
  width: 150px;
  height: 150px;
  background-color: blue;
  border: 3px solid black;
  padding: 10px;
}

.box2 {
  width: 130px;
  height: 130px;
  background-color: blue;
  border: 3px solid black;
  padding: 10px;
}

.container {
  width: 60vw;
  height: 30vh;
  background-color: red;
  font-size: 11px;

 .element {
  width: 70%;
  height: 40px;
  background-color: rgba(200, 0, 100, 0.5);
  font-size: 2em;
 }

 .html-element {
  width: 70%;
  height: 40px;
  background-color: gray;
  font-size: 2rem;
  overflow: hidden;
 }
}